* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color-theme: #f4f2ef;
  --secundary-color: #1e7773;
  --text-color: #262425;
  --button-color: #67b9b4;
  --form-color: #223f61;
  --theme-color: #9189b3;
  --section-color-1: #e8e5e8;
  --section-color-2: #d9dcdd;
  --white: #fefefe;
}

.dark-mode {
  --primary-color-theme: #262425;
  --secundary-color: #7fe7c9;
  --text-color: #fefefe;
  --button-color: #45af93;
  --form-color: #408c6d;
  --theme-color: #f6ad55;
  --section-color-1: #2b2629;
  --section-color-2: #272a2f;
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color-theme);
  color: var(--text-color);
}
/* -------HEADER SECTION------- */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
  backdrop-filter: blur(10px);
  padding: 10px 20px;
}

.logo {
  font-size: 45px;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  color: var(--text-color);
}

.logo:hover {
  transform: scale(1.1);
}

.logo span {
  color: var(--secundary-color);
}

.nav-links {
  display: flex;
  gap: 60px;
  list-style: none;
  font-size: 25px;
  font-weight: 500;
}
.nav-links li a {
  color: var(--text-color);
  transition: 0.3s ease;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  display: inline-block;
  position: relative;
}

.nav-links li a.active {
  color: var(--secundary-color);
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--secundary-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}

.nav-links li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* ------NAV BUTTONS------ */
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

#light-mode {
  background-color: var(--theme-color);
  color: var(--white);
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 30px;
}

#light-mode,
#dark-mode {
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  cursor: pointer;
}

#light-mode.rotate,
#dark-mode.rotate {
  transform: rotate(360deg);
}

.languaje-btn {
  background-color: var(--button-color);
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.languaje-btn.clicked {
  background-color: var(--secundary-color);
  transform: scale(1.1);
}
/* ------MOBILE MENU------ */
#burger-menu {
  cursor: pointer;
  display: none;
}

#burger-menu div {
  width: 30px;
  height: 4px;
  background-color: var(--button-color);
  margin: 8px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
  transform: rotate(45deg) translate(-10px, -10px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  left: 0;
  margin-top: 40px;
  padding: 15px;
  backdrop-filter: blur(10px);
}

.mobile-menu li {
  margin-bottom: 10px;
}

.mobile-menu li a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.mobile-menu li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--secundary-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}

.mobile-menu li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.mobile-menu li a.active {
  color: var(--secundary-color);
}

.mobile-menu li a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.mobile-menu.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


/*------HOME SECTION------ */
section {
  min-height: 100vh;
  padding: 100px 12% 50px;
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.home-img img {
  position: relative;
  top: 20px;
  width: 28vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--button-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--button-color), 0 0 50px var(--button-color),
    0 0 100px var(--button-color);
}

.home-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  margin-top: 25px;
}

.home-content h1 {
  font-size: 100px;
  font-weight: 700;
}

.home-content span {
  color: var(--secundary-color);
}

.home-content h3 {
  margin-top: 20px;
  font-size: 45px;
  line-height: 1;
}

.home-content p {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.8;
}

.contact-btn-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-btn {
  width: 30%;
  padding: 15px;
  background-color: var(--primary-color-theme);
  font-weight: 500;
  border: solid 2px var(--button-color);
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 1px 1px 20px -5px var(--button-color);
  cursor: pointer;
  color: var(--text-color);
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-color);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: -1;
}

.contact-btn:hover::before {
  transform: translateY(0);
}

.text-animation {
  font-size: 34px;
  font-weight: 600;
}

/* ------HOME H3 ANIMATION------ */
.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Desarroladora Fullstack";
  color: var(--secundary-color);
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--primary-color-theme);
  position: absolute;
  width: calc(100% + 8px);
  height: 80%;
  border-left: 3px solid var(--secundary-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--secundary-color);
  }
}

@keyframes words {
  0%,
  100% {
    content: "Desarrolladora Fullstack";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  100% {
    width: 0;
  }
}
/*------ ABOUT ME SECTION------ */
#about-me {
  background-color: var(--section-color-1);
}
.heading {
  font-size: 80px;
  margin: 15px 0;
  text-align: left;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
/* ------INFO CARDS CONTAINER------ */
.info-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.about-info {
  border: 3px solid var(--button-color);
  border-radius: 10px;
  padding: 25px;
  width: 50%;
  text-align: justify;
}

.about-info p {
  font-size: 25px;
  line-height: 1.2;
}

.icon-container {
  width: 100%;
  font-size: 130px;
  gap: 30px;
  display: flex;
  align-items: end;
  margin-top: 100px;
  justify-content: space-between;
}

.icon:hover {
  color: var(--secundary-color);
  animation: bounce 1.5s ease-in-out;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY();
  }
  40% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(-20px);
  }
}
/* ------PROJECTS------ */
#projects {
  background-color: var(--section-color-2);
}
.projects-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-father {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project-card {
  width: 35%;
  height: 55vh;
  background-color: var(--button-color);
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.6s;
  border-radius: 20px;
}

.project-card:hover {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-back {
  transform: rotateY(180deg);
  background-color: var(--form-color);
  border-radius: 20px;
}

.body-card-front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
}

.body-card-front h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.body-card-front img {
  width: 100%;
  height: 100%;
}

.body-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  text-align: justify;
  color: var(--white);
  font-size: 18px;
}

.project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.body-card-back input {
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: var(--button-color);
  color: var(--white);
  border-radius: 20px;
  transition: box-shadow 600ms;
}

.body-card-back input:hover {
  box-shadow: 1px 1px 20px -5px var(--button-color);
}

/* ------CONTACT------ */
.contact-container {
  display: flex;
  justify-content: space-between;
}

.form-container {
  border: solid 2px var(--form-color);
  padding: 20px;
  width: 50%;
  height: 50vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  background-color: var(--primary-color-theme);
  resize: none;
  border: solid 2px var(--form-color);
  color: var(--text-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--text-color);
  font-weight: 500;
}

.contact-form button {
  margin: 0 auto;
  padding: 10px 60px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: var(--button-color);
  color: var(--text-color);
  border-radius: 20px;
  transition: box-shadow 0.6;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 1px 1px 20px -5px var(--button-color);
}
.contact-form button:hover {
  box-shadow: 1px 1px 20px -5px var(--button-color);
  transform: scale(1.05);
}

#message-send {
  display: none;
  text-align: center;
  font-size: 24px;
}

.contact-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: solid 1px var(--secundary-color);
  box-shadow: 1px 1px 20px -5px var(--secundary-color);
}

.contact-info .mail-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--secundary-color);
}

.contact-info p {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.contact-icons {
  display: flex;
  gap: 20px;
  font-size: 60px;
}

.contact-icons a{
  text-decoration: none;
  color: inherit;
}
.cicon {
  transition: transform 0.3s ease;
}

.cicon:hover,
.cicon:active {
  color: var(--secundary-color);
  transform: scale(1.1);
}

/* ------RESPONSIVE STYLES------ */
@media (max-width: 1285px) {
  .home-content h1 {
    font-size: 80px;
  }
  .home-content h3 {
    font-size: 30px;
  }
  .home-content p {
    font-size: 20px;
  }
  .contact-btn {
    width: 60%;
  }
  .heading {
    font-size: 70px;
    margin: 5px 0;
  }
  .about-info p {
    font-size: 20px;
    line-height: 1.1;
  }
  .icon-container {
    font-size: 100px;
  }
  .project-card {
    width: 45%;
  }
  .form-container {
    width: 50%;
  }
  .contact-info {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .nav-links {
    gap: 40px;
    font-size: 20px;
  }
  .home {
    gap: 100px;
  }
  .home-content p {
    line-height: 1.4;
  }
  .heading {
    font-size: 60px;
  }
  .icon-container {
    font-size: 80px;
  }
  .contact-container {
    gap: 30px;
  }
  .contact-info {
    width: 50%;
  }
  .contact-info p {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .logo {
    font-size: 40px;
  }
  .home-content h1 {
    font-size: 60px;
  }
  .home-content h3 {
    font-size: 25px;
  }
  .contact-btn {
    width: 50%;
    font-size: 16px;
  }
}
@media (max-width: 810px) {
  .logo {
    font-size: 35px;
  }
  section {
    padding: 70px 6% 35px;
  }
  .home {
    flex-direction: column;
    gap: 50px;
  }
  .home-content h1 {
    font-size: 50px;
  }
  .contact-btn {
    width: 30%;
    margin-bottom: 30px;
  }
  .heading {
    font-size: 50px;
  }
  .info-container {
    flex-direction: column;
    align-items: center;
  }
  .about-info {
    width: 70%;
  }
  .about-info p {
    line-height: 1;
  }
  .icon-container {
    font-size: 70px;
  }
  .card-father {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .project-card {
    width: 70%;
    height: 35vh;
  }
  .contact-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .form-container {
    width: 70%;
  }
  .contact-info {
    width: 70%;
    margin-top: 20px;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  #burger-menu {
    display: block;
    margin: 30px;
  }
  .home-img img{
    margin-top: 90px;
  }
}
@media (max-width: 480px) {
  .logo {
    font-size: 30px;
  }
  .nav-buttons{
    gap: 20px;
  }
  #light-mode {
    width: 25px;
    height: 25px;
    font-size: 18px;
    border-radius: 8px;
  }  
  .languaje-btn {
    width: 25px;
    height: 25px;
    font-size: 18px;
    border-radius: 8px;
  }  
  .languaje-btn.clicked {
    background-color: var(--secundary-color);
    transform: scale(1.1);
  }
  .home-img img {
    width: 45vw;
  }
  .contact-btn {
    width: 60%;
  }
  .heading {
    font-size: 40px;
  }
  .about-info {
    width: 75%;
  }
  .about-info p {
    font-size: 18px;
  }
  .icon-container {
    font-size: 65px;
    flex-wrap: wrap;
  }
  .project-card {
    width: 75%;
  }
  .contact-container {
    gap: 30px;
  }
  .form-container {
    width: 75%;
  }
  .contact-info {
    width: 75%;
  }
  .contact-info p {
    font-size: 18px;
  }
}
